[submodule "backend/programs/FastDesign"]
	path = backend/programs/FastDesign
	url = https://github.com/shanry/FastDesign.git
[submodule "backend/programs/SAMFEO"]
	path = backend/programs/SAMFEO
	url = https://github.com/shanry/SAMFEO.git
	branch = samfeo_prec
