.App {
  padding: 0;
  padding-bottom: 30px;
}

.Header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: rgb(15, 23, 42);
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

.RadioButton {
  margin-top: 5px;
  margin-bottom: 15px;
}

.CheckBox {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ResultsTable {
  margin-top: 15px;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.125rem;
}

.uppercase {
  text-transform: uppercase;
}

.table td.text-emerald {
  color: rgb(5, 150, 105);
}

.mono {
  font-family: 'Fira Code', monospace;
}

.table td.text-slate {
  color: rgb(71, 85, 105);
}

.ResultsTable {
  border-collapse: collapse;
  overflow: hidden;
  margin-bottom: 2rem;
}

.method-header th {
  background: rgb(41, 53, 72);
  color: white;
  padding: 1.25rem 1.25rem;
  border: none;
}

.ResultsTable td {
  padding: 1rem 1rem;
  border-color: rgba(0, 0, 0, 0.1);
}

.results-card {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.input-card {
  background-color: white;
  padding: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.results-download {
  margin-bottom: 1.75rem;
}

.downloads-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(15, 23, 42);
}

h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}