.App {
  padding: 0;
  padding-bottom: 30px;
}

.Header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

.RadioButton {
  margin-top: 5px;
  margin-bottom: 15px;
}

.CheckBox {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ResultsTable {
  margin-top: 15px;
}